AccessModifierOffset: -2
AlignAfterOpenBracket: true
AlignEscapedNewlines: LeftWithLastLine
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
AlwaysBreakTemplateDeclarations: Yes
BasedOnStyle: WebKit
BitFieldColonSpacing: After
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
  AfterClass: false
  AfterControlStatement: Never
  BeforeElse: false
  AfterEnum: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never
BreakStringLiterals: false
ColumnLimit: 100
Cpp11BracedListStyle: true
IndentAccessModifiers: false
IndentGotoLabels: false
IndentPPDirectives: BeforeHash
IndentWidth: 2
InsertBraces: true
InsertTrailingCommas: None
MaxEmptyLinesToKeep: 2
NamespaceIndentation: None
SortIncludes: CaseInsensitive
SortUsingDeclarations: false
SpaceAfterTemplateKeyword: false
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeInheritanceColon: true
SpaceInEmptyBlock: false
SpacesBeforeTrailingComments: 2
InsertNewlineAtEOF: true
PointerAlignment: Left
ReferenceAlignment: Left
FixNamespaceComments: true
IncludeBlocks: Regroup
AlignOperands: false
ContinuationIndentWidth: 2